.box{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    font-size:0.14rem;
}
.l{
    float: left;
}
.r{
    float: right;
}
.c{
    clear: both;
}
.flex{
    flex: 1;
}
.center{
    justify-content: center;
    align-items: center;
    display: flex;
}